<div class="wrapper">
    <!-- Va a englobar todo el formulario con la cabecera -->
    <div class="section-registro">
        <div class="header-registro">
            <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
            <span *ngIf="!editar" class="title">Registrar Materia</span>
            <!-- <span *ngIf="editar" class="title">Actualizar Materia</span> -->
            <mat-icon></mat-icon>
        </div>

        <!-- Formulario -->
        <div class="body-registro">

            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>NRC</mat-label>
                <input matInput [(ngModel)]="materia.nrc" name="id" placeholder="Escribe el NRC" mask='00000' [disabled]="editar">
            </mat-form-field>
            <div *ngIf="errors.nrc" class="invalid-feedback">{{ errors.nrc }}</div>
            
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Nombre de Materia</mat-label>
                <input matInput [(ngModel)]="materia.nombre" placeholder="Escribe el Nombre de Materia">
            </mat-form-field>
            <div *ngIf="errors.nombre" class="invalid-feedback">{{ errors.nombre }}</div>

            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Sección</mat-label>
                <input matInput [(ngModel)]="materia.seccion" placeholder="Escribe Sección" mask='000'>
            </mat-form-field>
            <div *ngIf="errors.seccion" class="invalid-feedback">{{ errors.seccion }}</div>
            
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Días</mat-label>
                <input matInput [(ngModel)]="materia.dias" placeholder="Escribe los Días">
            </mat-form-field>
            <div *ngIf="errors.dias" class="invalid-feedback">{{ errors.dias }}</div>

             <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Hora Inicio</mat-label>
                <input matInput type="time" [(ngModel)]="materia.horaInicio" placeholder="Hora Inicio">
            </mat-form-field>
            <div *ngIf="errors.horaInicio" class="invalid-feedback">{{ errors.horaInicio }}</div>
            
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Hora Fin</mat-label>
                <input matInput type="time" [(ngModel)]="materia.horaFin" placeholder="Hora Fin">
            </mat-form-field>
            <div *ngIf="errors.horaFin" class="invalid-feedback">{{ errors.horaFin }}</div>

            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Salón</mat-label>
                <input matInput [(ngModel)]="materia.salon" placeholder="Escribe Salón">
            </mat-form-field>
            <div *ngIf="errors.salon" class="invalid-feedback">{{ errors.salon }}</div>
            
            <mat-form-field appearance="outline">
                <mat-label>Programa Educativo</mat-label>
                <mat-select [(ngModel)]="materia.programaEducativo">
                    <mat-option value="Ingeniería en Ciencias de la Computación">Ingeniería en Ciencias de la Computación</mat-option>
                    <mat-option value="Ingeniería en Tecnologías de la Información">Ingeniería en Tecnologías de la Información</mat-option>
                    <mat-option value="Licenciatura en Ciencias de la Computación">Licenciatura en Ciencias de la Computación</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="errors.programaEducativo" class="invalid-feedback">{{ errors.programaEducativo }}</div>
            
            <div class="section-buttons">
                <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
                <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrarMateria()">Registrar</button>
                <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
            </div>
            
        </div>
    </div>
</div>
